:root {
  --color-one: #8cd790;
  --color-two: #00e8fc;
  --color-three: #f96e46;
  --color-four: #426a5a;
  --color-five: #ffe3e3;
  --color-black: #000;
  --color-white: #fff;

  --state-inactive-color: var(--color-three);
  --state-active-color: var(--color-four);
  --state-paused-color: var(--color-three);
  --state-completed-color: var(--color-one);

  --space-xs: 4px;
  --space-sm: 8px;
  --space-md: 16px;
  --space-lg: 24px;
  --space-xl: 32px;
  --space-xxl: 64px;

  --font-xs: 12px;
  --font-sm: 16px; 
  --font-md: 24px;
  --font-lg: 32px;
  --font-xl: 64px;

  --font-weight-normal: 300;
  --font-weight-bold: 400;
  --font-weight-super: 500;

  --curve-sm: 4px;
  --curve-md: 8px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

main {
  --state-color: var(--state-inactive-color);

  &[data-state="active"] {
    --state-color: var(--state-active-color);
  }

  &[data-state="paused"] {
    --state-color: var(--state-paused-color);
  }

  &[data-state="completed"] {
    --state-color: var(--state-completed-color);
  }

  text-align: center;
  padding: var(--space-md);
  margin: 0 auto;
  width: 100%;
  max-width: 544px;
}

h1 {
  text-transform: uppercase;
  font-size: var(--font-xl);
  font-weight: var(--font-weight-bold);
  line-height: 1.1;
  margin: var(--space-xxl) auto var(--space-xl);
}

h2 {
  text-transform: uppercase;
  font-size: var(--font-sm);
  line-height: 1.1;
  font-weight: var(--font-weight-normal);
  margin-top: 0;
}

button {
  background-color: white;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

textarea, input {
  border: 0;
  background-color: transparent;
  color: inherit;
  outline:none;
  font: inherit;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
  sans-serif;
}

.Timer {
  --timer-background: var(--state-color);
  --timer-color: var(--color-white);

  background-color: var(--timer-background);
  color: var(--timer-color);
  padding: var(--space-lg);
  border-radius: var(--curve-md);

  > button {
    background-color: var(--timer-color);
    color: var(--timer-background);
    margin: 0 var(--space-sm);
    padding: var(--space-sm);
    border-radius: var(--curve-sm);
    font-weight: var(--font-weight-bold);
  }

  > form {
    text-transform: uppercase;
    font-size: var(--font-xl);
    font-weight: var(--font-weight-bold);
    line-height: 1.1;
    margin: var(--space-xxl) auto var(--space-xl);
  }

  > form > input {
    display: inline-block;
    text-transform: uppercase;
    font-size: var(--font-xl);
    font-weight: var(--font-weight-bold);
    line-height: 1.1;
    height: 1lh;
    width: 2ch;
    border-bottom: 2px solid var(--timer-background);
    padding:0;
  }

  > form > input:focus-visible {
    border-bottom: 2px solid var(--timer-color);
    outline: none;
  }

  > h1 {
    border-bottom: 2px solid var(--timer-background);
  }
}

.Prizes {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 120px 1fr;
  position: relative;
  justify-items: center;
  margin-top: var(--space-md);
  padding: var(--space-md);
  background-color: var(--color-five);
  border-radius: var(--curve-md);
  color: var(--color-three);

  > img {
    max-width: 100%;
  }
}

.Prizes-next {
  width: 100%;
  text-align: left;

  > h2 {
    background-color: white;
    display: inline-block;
    padding: var(--space-xs);
    border-radius: var(--curve-sm);
    font-size: var(--font-xs);
    font-weight: var(--font-weight-bold);
    margin-bottom: 0;
  }

  > textarea {
    display: block;
    border: 0;
    background-color: transparent;
    font-weight: var(--font-weight-bold);
    font-size: var(--font-md);
    margin-top: var(--space-sm);
    color: inherit;
    resize: none;
    wdith: 100%;
  }

  > textarea:focus-visible {
    border-bottom: 2px solid var(--color-three);
    outline: none;
  }
}

.Stickers {
  padding: var(--space-lg);
  background-color: var(--color-one);
  margin-top: var(--space-lg);
  border-radius: var(--curve-md);

  > ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, 70px);
    padding: 0;
    grid-gap: 8px;
    justify-content: center;
    margin: 0;
  }

  > ul > li {
    list-style: none;
    height: 70px;
    border: 5px solid var(--color-four);
    border-radius: 40px;
    line-height: 60px;
    font-weight: var(--font-weight-super);
    font-size: var(--font-lg);
    color: var(--color-four);
    position: relative;
  }

  > ul > li[data-next-sticker="true"] {
    background-color: var(--state-color);
    border-color: var(--color-white);
    color: var(--color-white);
  }

  > ul > li[data-is-completed="true"] {
    border-color: var(--color-white);
    color: var(--color-one);
  }

  button {
    width: 100%;
    height: 100%;
  }

  button:disabled {
    pointer-events: none;
  }

  img {
    width: 150%;
    position: absolute;
    left: -25%;
    top: -25%;
  }
}
