:root {
  --color-one:rgb(226, 225, 162);
  --color-two:rgb(141, 199, 140);
  --color-three: rgb(97, 139, 123);
  --color-four: rgb(58, 118, 92);
  --color-five:rgb(204, 215, 156);
  --color-black: #182711;
  --color-white:rgb(229, 228, 215);

  --state-inactive-color: var(--color-three);
  --state-active-color: var(--color-four);
  --state-paused-color: var(--color-three);
  --state-completed-color: var(--color-two);

  --space-xs: 4px;
  --space-sm: 8px;
  --space-md: 16px;
  --space-lg: 24px;
  --space-xl: 32px;
  --space-xxl: 64px;

  --font-xs: 12px;
  --font-sm: 16px;
  --font-md: 24px;
  --font-lg: 32px;
  --font-xl: 64px;

  --font-weight-normal: 300;
  --font-weight-bold: 400;
  --font-weight-super: 500;

  --curve-sm: 4px;
  --curve-md: 8px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  background-color: var(--color-white);
  background-image: url("https://images.unsplash.com/photo-1506260408121-e353d10b87c7?q=80&w=2128&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-position: center;
   background-repeat: no-repeat
}

h1 {
  text-transform: uppercase;
  font-size: var(--font-xl);
  font-weight: var(--font-weight-bold);
  line-height: 1.1;
  margin: var(--space-xxl) auto var(--space-xl);
}

h2 {
  text-transform: uppercase;
  font-size: var(--font-sm);
  line-height: 1.1;
  font-weight: var(--font-weight-normal);
  margin-top: 0;
}

button {
  background-color: white;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

textarea, input {
  border: 0;
  background-color: transparent;
  color: inherit;
  outline:none;
  font: inherit;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
  sans-serif;
}
